.NavBar {
    padding: 24px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'MonaSans';
  }
  
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  
  li {
    color: #0d0c22;
    font-size: 14px;
    padding: 0px 16px;
    font-weight: 600;
  }
  .left-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .search-icon-svg {
    padding: 0px 4px;
  }
  .right-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .search-bar {
    display: flex;
    flex-direction: row;
    background-color: #f4f5fb;
    align-items: center;
    padding: 16px 16px;
    border-radius: 60px;
    border-width: 1px;
  }
  
  .search-input {
    background-color: #f4f5fb;
    border: none;
    padding: 0px 4px;
  }
  
  .search-input:focus {
    outline: none;
  }
  
  .login-btn {
    font-size: 14px;
    font-weight: 600;
    color: #0d0c22;
    background: none;
    padding: 18px 24px;
    border: none;
    cursor: pointer;
  }
  
  .signup-btn {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #0d0c22;
    padding: 16px 24px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
  }
  .signup-btn:hover {
    opacity: 0.6;
  }
  